{
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true,
			"modules": true
		}
	},
	"env": {
		"es6": true
	},
	"extends": [
		"react-app",
		"eslint:recommended"
	],
	"plugins": [
		"react",
		"react-hooks",
		"import-quotes"
	],
	"rules": {
		"array-bracket-newline": [
			"warn",
			{
				"multiline": true
			}
		],
		"array-bracket-spacing": [
			"warn",
			"never"
		],
		"array-element-newline": "off",
		"block-spacing": "warn",
		"brace-style": "warn",
		"comma-dangle": [
			"warn",
			"always-multiline"
		],
		"constructor-super": "error",
		"curly": [
			"warn",
			"multi-or-nest"
		],
		"dot-location": [
			"warn",
			"property"
		],
		"eqeqeq": [
			"error",
			"always"
		],
		"for-direction": "error",
		"func-call-spacing": "warn",
		"getter-return": "error",

		"import-quotes/import-quotes": [
			"warn",
			"single"
		],
		"indent": [
			"warn",
			"tab"
		],
		"jsx-quotes": [
			"warn",
			"prefer-single"
		],

		"no-async-promise-executor": "error",
		"no-class-assign": "error",
		"no-compare-neg-zero": "error",
		"no-cond-assign": "error",
		"no-const-assign": "error",
		"no-console": "error",
		"no-debugger": "error",
		"no-dupe-args": "error",
		"no-dupe-class-members": "error",
		"no-dupe-else-if": "error",
		"no-dupe-keys": "error",
		"no-duplicate-case": "error",
		"no-duplicate-imports": "error",
		"no-empty-character-class": "error",
		"no-empty-pattern": "error",
		"no-ex-assign": "error",
		"no-extra-parens": [
			"warn",
			"all",
			{
				"ignoreJSX": "all"
			}
		],
		"no-extra-bind": "warn",
		"no-fallthrough": "error",
		"no-func-assign": "error",
		"no-import-assign": "error",
		"no-inner-declarations": "error",
		"no-invalid-regexp": "error",
		"no-irregular-whitespace": "error",
		"no-misleading-character-class": "error",

		"no-multi-spaces": "warn",
		"no-multiple-empty-lines": [
			"warn",
			{
				"max": 1,
				"maxEOF": 1
			}
		],

		"no-new-symbol": "error",
		"no-obj-calls": "error",
		"no-self-assign": "error",
		"no-setter-return": "error",
		"no-sparse-arrays": "error",
		"no-this-before-super": "error",
		"no-trailing-spaces": "warn",
		"no-undef": "error",
		"no-unexpected-multiline": "error",
		"no-unneeded-ternary": "warn",
		"no-unreachable": "error",
		"no-unsafe-finally": "error",
		"no-unsafe-negation": "error",

		"no-unused-vars": "warn",

		"no-var": "warn",

		"object-shorthand": "warn",
		"prefer-arrow-callback": "warn",
		"prefer-const": "warn",
		"prefer-template": "warn",
		"quotes": [
			"warn",
			"backtick"
		],
		"react-hooks/exhaustive-deps": "warn",
		"react-hooks/rules-of-hooks": "warn",
		"semi": [
			"warn",
			"never"
		],
		"spaced-comment": [
			"warn",
			"always"
		],
		"template-curly-spacing": [
			"warn",
			"never"
		],
		"use-isnan": "error",
		"valid-typeof": "error",
		"yoda": [
			"warn",
			"never"
		]
	}
}