@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,400,500');
* {
	margin: 0;
}

html {
	font-family: 'Roboto';
	font-size: 10px;
	line-height: 10px;
}

body {
	font-size: 1.2rem;
	line-height: 1.4rem;
}

h1 {
	margin: 0;
}