/* Roboto */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	src: url('./Roboto/Roboto-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 900;
	src: url('./Roboto/Roboto-BlackItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: bold;
	src: url('./Roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: bold;
	src: url('./Roboto/Roboto-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: medium;
	src: url('./Roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: medium;
	src: url('./Roboto/Roboto-MediumItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('./Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src: url('./Roboto/Roboto-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url('./Roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 300;
	src: url('./Roboto/Roboto-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: url('./Roboto/Roboto-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 100;
	src: url('./Roboto/Roboto-ThinItalic.ttf') format('truetype');
}

/* Roboto Mono */

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: bold;
	src: url('./Roboto_Mono/RobotoMono-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: bold;
	src: url('./Roboto_Mono/RobotoMono-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: medium;
	src: url('./Roboto_Mono/RobotoMono-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: medium;
	src: url('./Roboto_Mono/RobotoMono-MediumItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	src: url('./Roboto_Mono/RobotoMono-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 400;
	src: url('./Roboto_Mono/RobotoMono-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 300;
	src: url('./Roboto_Mono/RobotoMono-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 300;
	src: url('./Roboto_Mono/RobotoMono-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 100;
	src: url('./Roboto_Mono/RobotoMono-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 100;
	src: url('./Roboto_Mono/RobotoMono-ThinItalic.ttf') format('truetype');
}

* {
	margin: 0;
}

html {
	font-family: 'Roboto';
	font-size: 10px;
	line-height: 10px;
}

body {
	font-size: 1.2rem;
	line-height: 1.4rem;
}